body {
    text-align: center;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s ease;
}

button{
    margin-top: 500px;
    padding: 20px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    border-radius: 18px;
    color: white;
    background-color: #333;
}
